body {
    padding: 0;
    margin: 0;
    background-color: blue;
    position: relative;
    color: whitesmoke;
}
.display {
    border: none;
    /* color: whitesmoke; */
}
#timer, #highscore {
    font-size: 25px;
}

#timer { 
    float: right;
    position: relative;
    right: 10%;
} 
#highscore {
    padding-left: 5%;
}

.container {
    justify-content: center;
}

/* .intro {
   margin: 25px 25px;
    
} */
.hide {
    display: none;
}

h1 { 
    text-align: center;
    
}
p {
    text-align: center;
}
span {
    color: red;
} 

/* #start-btn {
    background-color: green;
    text-align: center;
    border: 2px solid red;
    font-size: 25px;
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    padding: 10px;
    
 */



/* }
.btn-grid {
    display: grid;
    gap: 5px;
    margin: 20px 0;


} */
